<h1>{{count}}</h1>
<button on:click='down()'>-1</button>
<button on:click='up()'>+1</button>

<style>
  button {
    width: 100px;
    height: 60px;
    font-size: 20pt;
  }
</style>

<script>
  export default {
    data() {
      return {
        count: 0,
        maxCount: 100,
        minCount: 0
      };
    },

    methods : {
      getCount : function() {
        return this.get('count');
      },
      setCount : function(c) {
        this.set({count : c})
      },
      up : function() {
        let c = this.getCount();
        if (c < this.get('maxCount')) {
          this.setCount(c + 1);
        }
      },
      down : function() {
        let c = this.getCount();
        if (c > this.get('minCount')) {
          this.setCount(c - 1);
        }
      }
    }
  };
</script>